body{
    max-width: 1440px;
    width: 100%;
    margin:0 auto;
}
h1{
    text-align: center;
}
ul{
    text-align: center;
}
.calculator__form{
    height: 200px;
    border:1px solid #e5e5e5;
    background: #e5e5e5;
    display: flex;
    flex-direction: column;

    padding:1rem;
}
.calculator__item{
    margin-top:.5rem;
    text-align-last: center;
    text-align: center;
}
.calculator__result span{
    display: block;
}
.calculator__answer{
    fw:500;
    color: green;
}
.calculator__button{
    background-color:crimson;
}